/* weather app styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap");

:root {
	margin: 0;
	padding: 0;

	--color-dark-mode-white: #E9E9E9;
	--color-dark-mode-light-blue: #9292DB;
	--color-dark-mode-blue-secondary: #1E1D46;


	--color-dark-blue: #100f3b;
	--color-mostard: #eec300;
	--color-gray-light: #f2fbff;
	--border-radius-primary: 1.63rem;
	--border-radius-b1: 0.5rem;
	--padding-wrapper: 3rem;
	--letter-spacing: -0.025em;
	--letter-spacing-2: -0.05em;
	--font-size-p17: 1.066rem;
	--font-size-p12: 0.75rem;
	--font-size-p10: 0.65rem;
	--transition-default: all 200ms linear;
}

@media (prefers-reduced-motion: no-preference) {}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: radial-gradient(50% 50% at 50% 50%, #a7cffd 0%, #7fb5f3 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition-default);
	justify-items: center;
	font-family: "Montserrat", sans-serif;
	letter-spacing: var(--letter-spacing);
	font-weight: 400;
}

.bold {
	font-weight: 600;
}

article {
	width: 100%;
	min-width: 1100px;
	background: radial-gradient(29.63% 90.27% at 32.01% 49.35%, #f9fdff 0%, #c9edfd 100%);
	border-radius: var(--border-radius-primary);
	width: 80vw;
	max-width: 1070px;
	box-shadow: 3px 5px 16px rgba(0, 0, 0, 0.18);
	display: flex;
	justify-content: space-between;
}

.hero {
	padding: var(--padding-wrapper);
	width: 100%;
}

.hero .hero-title {
	font-weight: 400;
	font-size: 1.93rem;
	letter-spacing: var(--letter-spacing-2);
	margin-top: 1.3rem;
	margin-bottom: 0;
}

.hero .filters button,
.hero .filters input {
	font-family: "Montserrat", sans-serif;
}

.hero .filters input {
	padding: 1.3rem 1rem;
	border-radius: var(--border-radius-b1);
	border: 0;
	width: 39%;
	font-size: 0.75rem;
	background: #fff url(/images/filter.svg) no-repeat 1rem center;
	padding-left: 3rem;
}

.hero .filters button {
	background: none;
	border: 0;
	padding: 1rem;
	padding-left: 0;
	margin-left: 1.4rem;
	font-weight: 500;
	cursor: pointer;
	color: var(--color-dark-blue);
}

/* toggle theme */
.toggle{
	opacity: .5;
	transition: var(--transition-default);
}
.toggle:hover{
	opacity: 1;
}
.toggle input {
	width: 0;
	height: 0;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.toggle .toggle-selector {
	width: 45px;
	border: 2px solid var(--color-dark-mode-light-blue);
	height: 23px;
	border-radius: 2rem;
	position: relative;
	cursor: pointer;
}

.toggle .toggle-selector * {
	box-sizing: border-box;
}

.toggle .toggle-selector .wrapper-icons {
	width: 17.5px;
	height: 17.5px;
	background: #EEC300;
	display: inline-block;
	border-radius: 50%;
	transition: var(--transition-default);
	margin-top: 2.5px;
	position: relative;
	margin-left: 3px;
}

.toggle .toggle-selector svg {
	display: none;
	width: 70%;
	position: absolute;
	top: -3px;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
}

.toggle.enabled .wrapper-icons {
	background-color: var(--color-dark-mode-light-blue);
	transform: translateX(120%);
}

.hidden {
	display: none;
}

/* Dark Mode */
.darkmode body {
	background: radial-gradient(50% 50% at 50% 50%, #5A6AA5 0%, #232B5F 100%);
}

.darkmode body,
.darkmode .hero-title {
	color: var(--color-dark-mode-white);
}

.darkmode article {
	background: radial-gradient(29.63% 90.27% at 32.01% 49.35%, #1E1D45 0%, #100F3B 100%);
}

.darkmode aside {
	background-color: var(--color-dark-mode-blue-secondary);
}

.darkmode aside,
.darkmode aside header a {
	color: var(--color-dark-mode-white);
}


.darkmode .hero .filters button {
	color: var(--color-dark-mode-light-blue);
	transition: var(--transition-default);
}

.darkmode .hero .filters button:hover {
	color: var(--color-dark-mode-white);
}

.darkmode .hero .filters input:focus,
.darkmode .hero .filters input:hover {
	opacity: 1;
}

.darkmode .hero .filters input {
	opacity: .5;
	transition: var(--transition-default);
	color: var(--color-dark-mode-white);
	background: transparent url(/images/filter-white.svg) no-repeat 1rem center;
	border: 1px solid var(--color-dark-mode-light-blue);
}

.darkmode ::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--color-dark-mode-light-blue);
	opacity: 1;
	/* Firefox */
}

.darkmode :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--color-dark-mode-light-blue);
}

.darkmode ::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--color-dark-mode-light-blue);
	;
}